/*********************************MAP***************

#mapControls {width: 100%}
#mapMetaBoxLeft{width: 20%; float: left;}
#mapMetaBoxRight{width: 60%; float: left;}
#map_canvas {}**/
input#longitude, input#latitude {width: 150px}
#mapControls {float: left; width: 100%; margin-top: -40px} 
#mapControls label{ float:left; width: 70px; font-weight: bold; line-height: 22px;}


.lat {width: 250px; float: left;}
.lng {width: 250px; float: left;}
.cur1 {width: 70%; float: left; font-size: 14px; margin-top: 25px;}

/* search results */

ul.ui-autocomplete {width: 500px!important}

#mapFix {height: 394px;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}

.sUcallback {float:left; width: 200px; }
.sUinput {width: 450px; float: left}
.sUinput input {width: 420px;}
.sUbutton {width: 100px; float: left;}
.sUbutton input {font-size: 10px; margin-top:-1px; text-transform: uppercase; width: 100px;}
.sUbutton input:hover {background: #999; color: #fff}

.mediaRow {width: 100%; float: left; margin: 0 0 10px 0; }
.mediaRow label {width: 60px; float: left;}
.mediaRow input {float: left; width: 140px;}